absl-py
astor
cached-property
certifi
click
cycler
fonttools
gast
google-pasta
grpcio
h5py
importlib-metadata
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
opencv-contrib-python>=3.4.2.17
opencv-python>=3.4.2.17,<4
opt-einsum
packaging
Pillow
protobuf
pyparsing
python-dateutil
scipy
setuptools
six
tensorboard
tensorflow
tensorflow-estimator==2.11.0
termcolor==1.1.0
tf_slim
typing-extensions
webencodings
Werkzeug
wheel
wrapt
zipp
ipdb
joblib
tqdm
yacs
tabulate
termcolor
mediapipe
func_timeout
pytorch-lightning==1.5.0
spconv-cu111
lpips
scikit-image
torch_tb_profiler
open3d>=0.9.0.0
PyYAML==5.3.1
tqdm
tensorboardX==1.2
scikit-image
imageio==2.3.0
trimesh==3.8.15
plyfile==0.6
PyMCubes==0.1.0
pyglet==1.4.0b1

