absl-py
astor
cached-property
certifi
click
cycler
fonttools
gast
google-pasta
grpcio
h5py
importlib-metadata
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
opencv-contrib-python>=3.4.2.17
opencv-python>=3.4.2.17,<4
opt-einsum
packaging
Pillow
protobuf
pyparsing
python-dateutil
scipy
setuptools
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
tf_slim
typing-extensions
webencodings
Werkzeug
wheel
wrapt
zipp
pyglet
chumpy
ipdb
joblib
tqdm
yacs
tabulate
mediapipe
func_timeout
pytorch-lightning
spconv-cu111
lpips
scikit-image
torch_tb_profiler
open3d
PyYAML
tensorboardX
imageio
trimesh
plyfile
PyMCubes
pyrender
pillow 